@{ 
    ViewBag.flag = 0;
}
<html lang="zxx" dir="ltr"><!--[endif]--><head>
            <meta charset="utf-8">
            <title>Translation Nation</title>
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <!--Template style -->
            <link rel="stylesheet" type="text/css" href="/css/animate.css">
            <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/css/fonts.css">
             <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
            <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">
            <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
            <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
           
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <link rel="stylesheet" type="text/css" href="/css/responsive.css">
            <!--favicon-->
            <link rel="shortcut icon" type="image/png" href="/images/fav-icon.png">
         </head>
<script type="text/javascript">
    function switchLanguage(langSelect) {
        var selectedLang = langSelect.value;
        var currentUrl = window.location.href.split('?')[0];  // Get the base URL without parameters

        // Redirect to the URL with the selected language parameter
        window.location.href = currentUrl + '?lang=' + selectedLang;
    }
</script>

         <body data-new-gr-c-s-check-loaded="14.1192.0" data-gr-ext-installed="">
            <div id="preloader" style="display: none;">
               <div id="status" style="display: none;">
                  <img src="/images/preloader.svg" id="preloader_image" alt="loader">
               </div>
            </div>
            <!-- top to return -->
            <a href="javascript:;" id="return-to-top" class="" style="display: none;"> <i class="fas fa-angle-double-up"></i></a>
            <!-- header start -->
    <div class="main-header-wrapper1 index2-header float_left" style="
    direction: ltr;
    background-color: #9bc6f47d;
">
        <div class="sb-main-header1">
            <div class="menu-items-wrapper menu-item-wrapper3 d-xl-block d-lg-block d-md-none d-sm-none d-none" style="
">
                <div class="container custom-container" style="
    max-width: 140vh;
">
                    <div class="row">
                        <div class="col-lg-2 col-md-6">
                            <div class="index1-logo">
                                <a href="/Customer/Index">
                                    <img src="/images/index2/index2-logo.png" alt="logo" style="max-width: 10vh;margin-top: -2vh;background-color: #f0f8ff;border-radius: 10vh;">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-6 custom-header" style="">
                            <nav class="navbar navbar-expand-lg">
                                <ul class="navbar-nav" style="gap: 1vh;font-weight: 600;">


                                    <li class="nav-item menu-click ps-rel">
                                        <a class="nav-link" href="/Customer/Services" style="
    background: #57d1fa54;
    border-radius: 5vh;
">Services</a>

                                    </li>
                                    <li class="nav-item menu-click1 ps-rel">
                                        <a class="nav-link" href="/Customer/TermsOfService" style="
    background: #57d1fa54;
    border-radius: 5vh;
">Term Of Service</a>

                                    </li>
                                    <li class="nav-item menu-click1 ps-rel">
                                        <a class="nav-link" href="/Customer/PrivacyPolicy" style="
    background: #57d1fa54;
    border-radius: 5vh;
">Privacy Policy</a>

                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="/Customer/ContactUs" style="
    background: #57d1fa54;
    border-radius: 5vh;
">Contact US</a>
                                    </li><li class="nav-item">
                                        <a class="nav-link" href="/Customer/AboutUs" style="
    background: #57d1fa54;
    border-radius: 5vh;
">About Us</a>
                                    </li>
                                  

                                </ul>
                            </nav>
                            <ul class="d-xl-flex d-lg-flex d-md-none d-sm-none d-none social-media-icons" style="
    gap: 1vh;
">

                                <li class="post-drop">
                                    <a class="post-btn" href="/Customer/SignIn">
                                        <span>
                                            <!-- <i class="fas fa-plus-circle"></i>   --> Sign In
                                            &nbsp; <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </a>
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- responsive menu bar start -->
            <div class="mobile-menu-wrapper d-xl-none d-lg-none d-md-block d-sm-block">
                <div class="container">
                    <div class="row">
                        <div class=" col-md-4 col-sm-4 col-4">
                            <div class="mobile-logo">
                                <a href="/Customer/Index">
                                    <img src="/images/index1-logo.png" alt="logo" style="
    max-width: 8vh;
">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="d-flex  justify-content-end">
                                <div class="social-media-icons">
                                    <ul>
                                        <li class="login-btn">
                                            <a href="javascript:;"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                                            <div class="user-text">
                                                <a href="/Customer/SignIn">
                                                    <span>
                                                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                            <path d="M10.95 15.84h-11V.17h11v3.88h-1V1.17h-9v13.67h9v-2.83h1v3.83z"></path>
                                                            <path d="M5 8h6v1H5zM11 5.96l4.4 2.54-4.4 2.54V5.96z"></path>
                                                        </svg>
                                                    </span>
                                                    Login
                                                </a>
                                                <a href="/Customer/SignUp">
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32" xml:space="preserve">
                                                        <path d="M16 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm0-12c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zM23.942 32H8.058A4.062 4.062 0 0 1 4 27.942c0-6.616 5.383-12 12-12s12 5.384 12 12A4.062 4.062 0 0 1 23.942 32zM16 17.942c-5.514 0-10 4.486-10 10A2.06 2.06 0 0 0 8.058 30h15.884A2.06 2.06 0 0 0 26 27.942c0-5.514-4.486-10-10-10z"></path>
                                                   </svg>
                                                    </span>
                                                    Sing Up
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="search_bar hidden-xs">
                                                <div class="lv_search_bar" id="search_button1">
                                                    <a href="javascript:;">
                                                        <span>
                                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                            <g>
                                                            <g>
                                                            <path d="M225.474,0C101.151,0,0,101.151,0,225.474c0,124.33,101.151,225.474,225.474,225.474
                                                                  c124.33,0,225.474-101.144,225.474-225.474C450.948,101.151,349.804,0,225.474,0z M225.474,409.323
                                                                  c-101.373,0-183.848-82.475-183.848-183.848S124.101,41.626,225.474,41.626s183.848,82.475,183.848,183.848
                                                                  S326.847,409.323,225.474,409.323z"></path>
                                                            </g>
                                                         </g>
                                                            <g>
                                                            <g>
                                                            <path d="M505.902,476.472L386.574,357.144c-8.131-8.131-21.299-8.131-29.43,0c-8.131,8.124-8.131,21.306,0,29.43l119.328,119.328
                                                                  c4.065,4.065,9.387,6.098,14.715,6.098c5.321,0,10.649-2.033,14.715-6.098C514.033,497.778,514.033,484.596,505.902,476.472z"></path>
                                                            </g>
                                                         </g>
                                                      </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="search_open1" class="lv_search_box" style="display: none;">
                                                    <input type="text" placeholder="Search here">
                                                    <button>
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="d-flex">
                                    <div class="toggle-main-wrapper mt-2" id="sidebar-toggle">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar">
                <div class="sidebar_logo">
                    <a href="/Customer/Index"><img src="/images/index1-logo.png" alt="logo"></a>
                </div>
                <div id="toggle_close">×</div>
                <div id="cssmenu">
                    <ul class="float_left">
                        <li class="has-sub">
                            <a>Translation Nation</a>
                            <ul style="display: none;">
                                <li><a href="/Customer/Index">Home</a></li>
                                <li><a href="/Customer/Services">Services</a></li>
                                <li>
                                    <a href="/Customer/TermsOfService">Term Of Service</a>
                                </li>
                                <li>
                                    <a href="/Customer/PrivacyPolicy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/Customer/ContactUs">Contact US</a>
                                </li>
                            </ul>
                        </li>
 
                    </ul>
                </div>
            </div>
            <!-- responsive menu End -->
        </div>
    </div>
            <!-- header end -->
            @RenderBody()

            

 
            


            



             

            
                           


            


            <!-- footer section start -->
    <div class="footer-main-wrapper index2-footer-wrapper " style="    text-align: center;  
    /* direction: rtl; */
">
        <div class="container">
            <div class="row" style="
    justify-content: center;
    align-items: center;
">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="sb-footer-section">
                        <div class="footer-logo">
                            <a href="/Customer/Index"><img src="/images/index2/logo.png" alt="" style="max-width: 25vh;"></a>
                        </div>
                        <div class="footer-logo">
                            <a href="https://www.facebook.com/JTA1993/?locale=ar_AR"><img src="/images/EmbeddedImage.png" alt="" style="max-width: 25vh;"></a>
                        </div>  
                        <div class="footer-logo">
                            <a href="https://www.asu.edu.jo/en/Pages/default.aspx"><img src="/images/aspu.png" alt="" style="max-width: 25vh;"></a>
                        </div>
                        
                        

                    </div>
                </div>
               

                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="links">
                        <div class="app-btn" style="display: inline-block;">
                            <div style="margin-bottom: 3vh;">
                                <a 
                                    ="javascript:;">
                                    <img src="/images/index2/app-btn.png" alt="app">
                                </a>
                            </div>
                            <div>
                                <a href="javascript:;">
                                    <img src="/images/index2/app-btn1.png" alt="app">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer float_left">
            <div class="container">
                <div class="row" style="
    margin: 0 auto;
    justify-content: center;
">
                    <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                        <p style="margin-top: 1vh;">© Copyright 2024. All Rights Reserved by Translation Nation</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <ul>
                            <!-- Facebook -->
                            <li>
                                <a href="https://web.facebook.com/people/Translation-Nation/61566504171110/?mibextid=ZbWKwL" target="_blank">
                                    <span>
                                        <svg viewBox="0 0 25 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-top: 1vh;">
                                            <g id="Page-22" stroke="none">
                                                <g id="Social-Icons---Isolated3" transform="translate(-176.000000, -55.000000)">
                                                    <path d="M200.78439,55.3395122 L200.78439,62.9141463 L196.28878,62.9258537 C192.764878,62.9258537 192.085854,64.6 192.085854,67.0468293 L192.085854,72.4673171 L200.48,72.4673171 L199.39122,80.9434146 L192.085854,80.9434146 L192.085854,103 L183.329951,103 L183.329951,80.9434146 L176,80.9434146 L176,72.4673171 L183.329951,72.4673171 L183.329951,66.2156098 C183.329951,58.9570732 187.754146,55 194.24,55 C197.331902,55 200,55.2341463 200.78439,55.3395122 Z" id="Facebook4"></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </li>

                            <!-- LinkedIn -->
                            <li>
                                <a href="https://www.linkedin.com/in/YOUR-LINKEDIN-USERNAME" target="_blank">
                                    <span>
                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" style="margin-top: 1vh;">
                                            <path d="M75 512h362c41.36 0 75-33.64 75-75V75c0-41.36-33.64-75-75-75H75C33.64 0 0 33.64 0 75v362c0 41.36 33.64 75 75 75zm0-437c0-24.81 20.19-45 45-45h362c24.81 0 45 20.19 45 45v362c0 24.81-20.19 45-45 45H120c-24.81 0-45-20.19-45-45V75zm0 0"></path>
                                            <path d="M160 391h62V241h-62zm31-180c21 0 38-17 38-38s-17-38-38-38-38 17-38 38 17 38 38 38zm0 0M346 391h62V296c0-53.63-57-49.38-57 0v95h-62v-150h62zm0 0"></path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>  
            <!-- footer section end -->
            <!-- Side Panel -->
            <script src="/js/jquery-3.6.0.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/wow.js"></script>
            <script src="/js/jquery.magnific-popup.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/contact_form.js"></script>
            <script src="/js/custom.js"></script>
            <!-- custom js-->
            <!-- heart icon -->
            <script>
               $('.heart a').click( function(){
                if ( $(this).hasClass('current') ) {
                    $(this).removeClass('current');
                } else {
                    $('.top_icon span.current').removeClass('current');
                    $(this).addClass('current');    
                }
               });
            </script>
            <script>
               $('#search_button').on("click", function(e) {
                $('#search_open').slideToggle();
                e.stopPropagation(); 
               });
               
               $(document).on("click", function(e){
                if(!(e.target.closest('#search_open'))){  
                   $("#search_open").slideUp();        
                }
               });
            </script>
            <script>
               $('#search_button1').on("click", function(e) {
                $('#search_open1').slideToggle();
                e.stopPropagation(); 
               });
               
               $(document).on("click", function(e){
                if(!(e.target.closest('#search_open1'))){  
                   $("#search_open1").slideUp();        
                }
               });
            </script>
         
      </body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
      
</html>


