
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<!-- Start Banner -->
<div class="index2-slider-wrapper ps-rel" style="
    /* direction: rtl; */
">
    <div class="container" style="
    margin-top: 10vh;
">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="slider-caption">
                    <h2>
                        We provide students with hands-on translation experience to build skills and prepare for the job market.
                    </h2>
                    <p>
                        By providing affordable translation services,<br>We contribute to empowering individuals and enhancing communication within translation communities.
                    </p>
                </div>
                <div class="slider-form mt-4 float_left" style="margin: 0 auto;display: inline-flex;direction: ltr;">

                    <a class="search-btn" style="margin: 0 auto;" href="/Customer/SignUp">
                        <span>
                            Start Now
                            <i class="fa fa-sign-in" aria-hidden="true" style="margin-right: 1vh;/* transform: rotate(180deg); */"></i>
                        </span>
                    </a>



                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="index2-slider-img">
                    <img src="/images/index2/slider-img.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Banner -->
