
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div class="popular-category-wrapper float_left" style="margin-bottom: 5vh;margin-top: 5vh;direction: rtl;">
    <div class="container">
        <div class="home1-section-heading1">
            <h4>Translation Services</h4>
            <h6>Offered through our platform</h6>
        </div>
        <div class="popular-category-main-box float_left">
            <div class="row" style="place-content: center;">

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="category-box float_left" style="">
                        <span><i class="fa fa-film" aria-hidden="true"></i></span>
                        <h4>Visual Translation</h4>
                        <div class="category-overlay float_left">
                            <h5>Visual Translation</h5>
                            <p style="font-size: small;">
                                This involves converting spoken text and dialogue from visual content from its original language to the target language, and transforming it into a written format.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="category-box float_left">
                        <span><i aria-hidden="true" class="fa fa-book"></i></span>
                        <h4>Written Translation</h4>
                        <div class="category-overlay float_left">
                            <h5>Written Translation</h5>
                            <p style="font-size: small;">
                                This involves translating written texts from one language to another, such as in the translation of novels, folktales, articles, and various personal and legal documents.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="category-box float_left" style="background-color: #80808021;">
                        <span><i class="fa fa-microphone" aria-hidden="true"></i></span>
                        <h4>Oral Translation</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="category-box float_left" style="background-color: #80808021;">
                        <span><i class="fa fa-money-bill" aria-hidden="true"></i></span>
                        <h4>Financial Translation</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="category-box float_left" style="background-color: #80808021;">
                        <span><i class="fa fa-gavel" aria-hidden="true"></i></span>
                        <h4>Legal Translation</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="category-box float_left" style="background-color: #80808021;">
                        <span><i class="fa fa-th" aria-hidden="true"></i></span>
                        <h4>Explore More</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
