@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/Customer/GetCountries', // Replace with your endpoint URL
            type: 'POST',
            contentType: 'application/json', // Specify the content type if sending JSON
            success: function (response) {
                // Handle the success response here
                console.log('Success:', response);



                // Iterate over the response.d list and append options to both elements
                response.forEach(function (item) {
                    document.getElementById('LocationTranslator').innerHTML +=
                        '<option value="' + item.countryId + '">' + item.countryName + '</option>';

                    document.getElementById('LocationSupervisor').innerHTML +=
                        '<option value="' + item.countryId + '">' + item.countryName + '</option>';
                });
            },
            error: function (error) {
                // Handle any error that occurs
                console.log('Error:', error);
            }
        });



    });



</script>
<div class="login_box_main_wrapper custom-height" id="login_height" style="height: fit-content;">
    <div class="container">
        <div class="login-logo gap-top">
            <a href="index.html">
                <img src="/images/index1-logo.png" alt="logo" style="max-width: 15vh;">
            </a>
        </div>
        <div class="form-tabs" style="
         ">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Client</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-freelauncer-tab" data-bs-toggle="pill" data-bs-target="#pills-freelauncer" type="button" role="tab" aria-controls="pills-freelauncer" aria-selected="false">Translator</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Supervisor   </button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="signin-wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="left-side">
                                <h4 style="text-align: center;">Sign up as Client</h4>
                                <form action="/Customer/SignUpRequestAsCustomer" method="post">
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="text" name="FullName" placeholder="Full name ( Four Parts )" required>
                                            <span><i class="fa fa-user" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="email" name="Email" placeholder="Email Address" required>
                                            <span><i class="fa fa-envelope" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="date" name="BirthDate" required>
                                            <span><i class="fa fa-user" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="password" name="Password" placeholder="Password" required>
                                            <span><i class="fa fa-unlock-alt" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
                                            <span><i class="fa fa-unlock-alt" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="cond" style="text-align: center;">
                                        <input style="text-align: center;" type="checkbox" id="AcceptTerms" name="AcceptTerms" value="true" style="margin: 0 auto;" required>
                                        <label for="AcceptTerms">Accept the terms and conditions</label>
                                    </div>
                                    <div class="login-btn-sec" style="">
                                        <div style="
                                 display: flex;
                                 margin: 0 auto;
                                 place-content: center;
                                 ">
                                            <button type="submit" class="sub-btn" style="/* margin-left: 5vh; */">
                                                <span>Sign up</span>
                                            </button>
                                        </div>
                                        
                                        <p style="text-align: center;">If you have an account <a href="login.html" style="margin-right: 1vh;">Sign In now</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="
                     margin-top: 9vh;
                     ">
                            <div class="login-img">
                                <img src="/images/login-side.png" alt="img" style="
                           /* margin-top: 5vh; */
                           ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-freelauncer" role="tabpanel" aria-labelledby="pills-freelauncer-tab">
                <div class="signin-wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="left-side">
                                <h4 style="
                           text-align: center;
                           ">
                                    Sign Up as Translator
                                </h4>
                                <form action="/Customer/SignUpRequestAsTranslator" method="post">
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="text" name="FullName" placeholder="Full name ( Four Parts )" required>
                                            <span><i class="fa fa-user" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="email" name="Email" placeholder="Email Address" required>
                                            <span><i class="fa fa-envelope" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="date" name="BirthDate" required>
                                            <span><i class="fa fa-user" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <select name="Location" id="LocationTranslator" class="form-control" style="color: #757575;border-radius: 14vh;background: #eaf2f7;TEXT-ALIGN: -WEBKIT-CENTER;">
                                                <option selected="" value="0" style="">Select your Country</option>
                                            </select>
                                            <span><i class="fa fa-university"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <select name="University" id="UniversityTranslator" class="form-control" style="color: #757575;border-radius: 14vh;background: #eaf2f7;TEXT-ALIGN: -WEBKIT-CENTER;">
                                                <option selected="" style="">Select your University</option>
                                                <option value="university1">University 1</option>
                                                <option value="university2">University 2</option>
                                                <option value="university3">University 3</option>
                                            </select>
                                            <span><i class="fa fa-university"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="password" name="Password" placeholder="Password" required>
                                            <span><i class="fa fa-unlock-alt" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group field-icon row mb-3">
                                        <div class="col-md-12">
                                            <input style="text-align: center;" type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
                                            <span><i class="fa fa-unlock-alt" aria-hidden="true" style="margin-top: 0.5vh;"></i></span>
                                        </div>
                                    </div>
                                    <div class="cond" style="text-align: center;">
                                        <input style="text-align: center;" type="checkbox" id="AcceptTerms2" name="AcceptTerms" value="true" style="margin: 0 auto;" required>
                                        <label for="AcceptTerms2">Accept the terms and conditions</label>
                                    </div>
                                    <div class="login-btn-sec" style="">
                                        <div style="
                                 display: flex;
                                 margin: 0 auto;
                                 place-content: center;
                                 ">
                                            <button type="submit" class="sub-btn" style="/* margin-left: 5vh; */">
                                                <span>Sign up</span>
                                            </button>
                                        </div>
                                        
                                        <p style="text-align: center;">If you have an account <a href="login.html" style="margin-right: 1vh;">Sign In now</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12" style="
                     margin-top: 9vh;
                     ">
                            <div class="login-img" style="
                        /* margin: 0 auto; */
                        padding-left: 5vh;
                        padding-right: 2vh;
                        text-align: -webkit-center;
                        ">
                                <p style="text-align: center;">
                                    We provide students with hands-on translation experience to build skills and prepare for the job market.
                                </p>
                                <img src="/images/login-side.png" alt="img" style="
                           /* margin-top: 5vh; */
                           ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="signin-wrapper" style="">
                    <div class="row" style="margin: 0 auto;">
                        <div class="col-lg-12 col-md-12 col-12" style="margin: 0 auto;">
                            <div class="left-side">
                                <h4 style="text-align: -webkit-center;">Sign up as Supervisor</h4>
                                <form id="signup-form" action="/Customer/SignUpRequestAsSupervisor" method="post" >
                                    <div class="container">
                                        <div class="row">
                                            <!-- Left Column -->
                                            <div id="Left" class="col-md-6">
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <input style="text-align: center;" type="text" name="FullName" id="FullName" placeholder="Full Name (Four parts)">
                                                        <span><i class="fa fa-user"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <input style="text-align: center;" type="email" name="Email" id="Email" placeholder="Email Address">
                                                        <span><i class="fa fa-envelope"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <select name="Location" id="LocationSupervisor" class="form-control" style="color: #757575;border-radius: 14vh;background: #eaf2f7;TEXT-ALIGN: -WEBKIT-CENTER;">
                                                            <option selected="" value="0" style="">Select your Country</option>
                                                        </select>
                                                        <span><i class="fa fa-university"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <input style="text-align: center;" type="text" name="PhoneNumber" id="PhoneNumber" placeholder="Phone Number">
                                                        <span><i class="fa fa-phone"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Right Column -->
                                            <div id="Right" class="col-md-6">
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <input style="text-align: center;" type="text" name="Username" id="Username" placeholder="User Name">
                                                        <span><i class="fa fa-user"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <select name="University" id="UniversitySupervisor" class="form-control" style="color: #757575;border-radius: 14vh;background: #eaf2f7;TEXT-ALIGN: -WEBKIT-CENTER;">
                                                            <option selected="" style="">Select your University</option>
                                                            <option value="university1">University 1</option>
                                                            <option value="university2">University 2</option>
                                                            <option value="university3">University 3</option>
                                                        </select>
                                                        <span><i class="fa fa-university"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <input style="text-align: center;" type="password" name="Password" id="Password" placeholder="Password">
                                                        <span><i class="fa fa-unlock-alt"></i></span>
                                                    </div>
                                                </div>
                                                <div class="form-group field-icon row mb-3">
                                                    <div class="col-md-12">
                                                        <input style="text-align: center;" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password">
                                                        <span><i class="fa fa-unlock-alt"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Terms and Submit Button -->
                                        <div class="text-center">
                                            <div class="cond" style="text-align: center;">
                                                <input style="text-align: center;" type="checkbox" id="AcceptTerms" name="AcceptTerms" value="true">
                                                <label for="AcceptTerms">Accept the terms and conditions</label>
                                            </div>
                                            <div class="login-btn-sec" style="margin: 0 auto;display: table;">
                                                <button type="submit" class="sub-btn">Sign up</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="right-side">
                                <form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#LocationSupervisor').change(function () {
            var selectedValue = $(this).val();
            console.log(selectedValue);
            if (selectedValue !== "0") {
                console.log(selectedValue);
                $.ajax({
                    url: '/Customer/GetUniveritiesBasedOnId', // Your endpoint URL
                    type: 'GET', // Use GET for this request
                    data: { id: selectedValue }, // Pass data as query parameters
                    success: function (response) {
                        console.log('Success:', response);
                        $('#UniversitySupervisor').empty();

                        response.forEach(function (item) {
                            $('#UniversitySupervisor').append(
                                '<option value="' + item.universityId + '">' + item.universityName + '</option>'
                            );
                        });
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });

            }
        });
        $('#LocationTranslator').change(function () {
            var selectedValue = $(this).val();
            console.log(selectedValue);
            if (selectedValue !== "0") {
                console.log(selectedValue);
                $.ajax({
                    url: '/Customer/GetUniveritiesBasedOnId', // Your endpoint URL
                    type: 'GET', // Use GET for this request
                    data: { id: selectedValue }, // Pass data as query parameters
                    success: function (response) {
                        console.log('Success:', response);
                        $('#UniversityTranslator').empty();

                        response.forEach(function (item) {
                            $('#UniversityTranslator').append(
                                '<option value="' + item.universityId + '">' + item.universityName + '</option>'
                            );
                        });
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });

            }
        });

        
    });
</script>